footer{
    background-color: rgba(175, 166, 166, 0.24);
    background-size: cover;
    height: 200px;
    position: relative;
}

.footer-content{
    margin-left: 450px;
    padding-top: 40px;
}

footer p {
    font-family: 'open sans', sans-serif;
    text-align: center;
    padding-top: 10px;
    color: grey;

    
}

footer .icone{
    height: 50px;
    padding: 16px;
    
   
}
