footer{
    background-color: rgba(175, 166, 166, 0.24);
    background-size: cover;
    height: 150px;
}

.footer-content{
    position: relative;
    top: 70%;

    
}

.footer-content p {
    text-align: center;
    


}